<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title if post else 'Post Not Found' }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
    </div>
    <div class="content">
        {% if post %}
            <div class="card">
                <h1>{{ post.title }}</h1>
                <h2>{{ post.subtitle }}</h2>
                <p>{{ post.body }}</p>
            </div>
        {% else %}
            <div class="card">
                <h1>404</h1>
                <p>Post not found.</p>
            </div>
        {% endif %}
    </div>
</div>

<footer>
    <p>Made with ♥️ in India.</p>
</footer>
</body>
</html>